.group {

  .input-group-title {
    font-weight: 500;
    font-size: 16px;
  }

  .input-group-row {
    display: flex;
  }

  .input-group-column {
    display: flex;
    flex-direction: column;
  }
}
