.add-list {

  .add-list-title {
    font-weight: 500;
    font-size: 20px;
  }

  .button-group {
    display: flex;
    margin-top: 20px;

    .button {
      margin-right: 10px;
    }
  }

  .add-items {
    overflow-y: scroll;

    .add-item {
      display: flex;
      margin-top: 40px;
    }

    .add-item:first-child {
      margin-top: 10px;
    }
  }
}